* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: inherit;
    color: inherit;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
    flex-shrink: 0;
}
input {
    font-size: inherit;
}

